/* Hero */
.defaultHeader,
.gudieHero {
  min-height: calc(95vh - 20vh);
  background: url("../../images/defbck.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gudieHero {
  background-image: url("../../images/ItGuide.jpg");
  min-height: 60vh;
}
/* End of Hero */
